CLIENT_GATEWAY_PORT=3000
##
PAYMENTS_MS_PORT = 3003

##STRIPE
#https://dashboard.stripe.com/acct_1TQCbNEHBRVZmh9r/test/apikeys
STRIPE_SECRET_KEY=SECRET_KEY

STRIPE_SUCCESS_URL=http://localhost:3003/api/v1/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/api/v1/payments/cancel

#https://dashboard.stripe.com/acct_1TQCbNEHBRVZmh9r/test/workbench/webhooks/we_1TQuwcEHBRVZmh9rxrdh2j9C
# Este es el signing secret del webhook, no confundir con el secret key de la api
STRIPE_ENDPOINT_SECRET=SECRET_ENDPOINT_KEY